
.icon-phone:before { content: '\e800'; } /* '' */
.icon-tab1:before { content: '\e801'; } /* '' */
.icon-tab2:before { content: '\e802'; } /* '' */
.icon-tab3:before { content: '\e803'; } /* '' */
.icon-tab4:before { content: '\e804'; } /* '' */
.icon-title:before { content: '\e805'; } /* '' */
.icon-carrier:before { content: '\e806'; } /* '' */
.icon-adv1:before { content: '\e807'; } /* '' */
.icon-adv2:before { content: '\e808'; } /* '' */
.icon-adv3:before { content: '\e809'; } /* '' */
.icon-adv4:before { content: '\e80a'; } /* '' */
.icon-angle:before { content: '\e80b'; } /* '' */
.icon-arrow:before { content: '\e80c'; } /* '' */
.icon-envelope:before { content: '\e80d'; } /* '' */
.icon-customer:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-flag:before { content: '\e810'; } /* '' */
.icon-adv7:before { content: '\e811'; } /* '' */
.icon-adv8:before { content: '\e812'; } /* '' */
.icon-adv5:before { content: '\e813'; } /* '' */
.icon-adv6:before { content: '\e814'; } /* '' */
